In [23]:
from matplotlib import pyplot as plt
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression, LogisticRegressionCV
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score, roc_auc_score, precision_score, recall_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.inspection import permutation_importance

In [38]:
data = pd.read_csv("worker_churn.csv")
data.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [39]:
data['Attrition'] = (data['Attrition'] == 'Yes').astype(int)

In [40]:
print(data.columns)

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [41]:
categorical_cols = ['BusinessTravel', 'Department', 'EducationField', 'Gender', 'JobRole', 'MaritalStatus', 'OverTime']
data = pd.get_dummies(data, columns=categorical_cols, drop_first=True)
data.head()
y = data['Attrition']
X = data.drop('Attrition', axis=1)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 49 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Age                                1470 non-null   int64
 1   Attrition                          1470 non-null   int64
 2   DailyRate                          1470 non-null   int64
 3   DistanceFromHome                   1470 non-null   int64
 4   Education                          1470 non-null   int64
 5   EmployeeCount                      1470 non-null   int64
 6   EmployeeNumber                     1470 non-null   int64
 7   EnvironmentSatisfaction            1470 non-null   int64
 8   HourlyRate                         1470 non-null   int64
 9   JobInvolvement                     1470 non-null   int64
 10  JobLevel                           1470 non-null   int64
 11  JobSatisfaction                    1470 non-null   int64
 12  MonthlyIncome                      1470 non-null   int64
 13  MonthlyRate                        1470 non-null   int64
 14  NumCompaniesWorked                 1470 non-null   int64
 15  Over18                             1470 non-null   object
 16  PercentSalaryHike                  1470 non-null   int64
 17  PerformanceRating                  1470 non-null   int64
 18  RelationshipSatisfaction           1470 non-null   int64
 19  StandardHours                      1470 non-null   int64
 20  StockOptionLevel                   1470 non-null   int64
 21  TotalWorkingYears                  1470 non-null   int64
 22  TrainingTimesLastYear              1470 non-null   int64
 23  WorkLifeBalance                    1470 non-null   int64
 24  YearsAtCompany                     1470 non-null   int64
 25  YearsInCurrentRole                 1470 non-null   int64
 26  YearsSinceLastPromotion            1470 non-null   int64
 27  YearsWithCurrManager               1470 non-null   int64
 28  BusinessTravel_Travel_Frequently   1470 non-null   bool
 29  BusinessTravel_Travel_Rarely       1470 non-null   bool
 30  Department_Research & Development  1470 non-null   bool
 31  Department_Sales                   1470 non-null   bool
 32  EducationField_Life Sciences       1470 non-null   bool
 33  EducationField_Marketing           1470 non-null   bool
 34  EducationField_Medical             1470 non-null   bool
 35  EducationField_Other               1470 non-null   bool
 36  EducationField_Technical Degree    1470 non-null   bool
 37  Gender_Male                        1470 non-null   bool
 38  JobRole_Human Resources            1470 non-null   bool
 39  JobRole_Laboratory Technician      1470 non-null   bool
 40  JobRole_Manager                    1470 non-null   bool
 41  JobRole_Manufacturing Director     1470 non-null   bool
 42  JobRole_Research Director          1470 non-null   bool
 43  JobRole_Research Scientist         1470 non-null   bool
 44  JobRole_Sales Executive            1470 non-null   bool
 45  JobRole_Sales Representative       1470 non-null   bool
 46  MaritalStatus_Married              1470 non-null   bool
 47  MaritalStatus_Single               1470 non-null   bool
 48  OverTime_Yes                       1470 non-null   bool
dtypes: bool(21), int64(27), object(1)
memory usage: 351.8+ KB

In [42]:
data.drop(['EmployeeCount', 'Over18', 'StandardHours', 'EmployeeNumber'], axis=1, inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 45 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Age                                1470 non-null   int64
 1   Attrition                          1470 non-null   int64
 2   DailyRate                          1470 non-null   int64
 3   DistanceFromHome                   1470 non-null   int64
 4   Education                          1470 non-null   int64
 5   EnvironmentSatisfaction            1470 non-null   int64
 6   HourlyRate                         1470 non-null   int64
 7   JobInvolvement                     1470 non-null   int64
 8   JobLevel                           1470 non-null   int64
 9   JobSatisfaction                    1470 non-null   int64
 10  MonthlyIncome                      1470 non-null   int64
 11  MonthlyRate                        1470 non-null   int64
 12  NumCompaniesWorked                 1470 non-null   int64
 13  PercentSalaryHike                  1470 non-null   int64
 14  PerformanceRating                  1470 non-null   int64
 15  RelationshipSatisfaction           1470 non-null   int64
 16  StockOptionLevel                   1470 non-null   int64
 17  TotalWorkingYears                  1470 non-null   int64
 18  TrainingTimesLastYear              1470 non-null   int64
 19  WorkLifeBalance                    1470 non-null   int64
 20  YearsAtCompany                     1470 non-null   int64
 21  YearsInCurrentRole                 1470 non-null   int64
 22  YearsSinceLastPromotion            1470 non-null   int64
 23  YearsWithCurrManager               1470 non-null   int64
 24  BusinessTravel_Travel_Frequently   1470 non-null   bool
 25  BusinessTravel_Travel_Rarely       1470 non-null   bool
 26  Department_Research & Development  1470 non-null   bool
 27  Department_Sales                   1470 non-null   bool
 28  EducationField_Life Sciences       1470 non-null   bool
 29  EducationField_Marketing           1470 non-null   bool
 30  EducationField_Medical             1470 non-null   bool
 31  EducationField_Other               1470 non-null   bool
 32  EducationField_Technical Degree    1470 non-null   bool
 33  Gender_Male                        1470 non-null   bool
 34  JobRole_Human Resources            1470 non-null   bool
 35  JobRole_Laboratory Technician      1470 non-null   bool
 36  JobRole_Manager                    1470 non-null   bool
 37  JobRole_Manufacturing Director     1470 non-null   bool
 38  JobRole_Research Director          1470 non-null   bool
 39  JobRole_Research Scientist         1470 non-null   bool
 40  JobRole_Sales Executive            1470 non-null   bool
 41  JobRole_Sales Representative       1470 non-null   bool
 42  MaritalStatus_Married              1470 non-null   bool
 43  MaritalStatus_Single               1470 non-null   bool
 44  OverTime_Yes                       1470 non-null   bool
dtypes: bool(21), int64(24)
memory usage: 305.9 KB