In [1]:
from matplotlib import pyplot as plt
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression, LogisticRegressionCV
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score, roc_auc_score, precision_score, recall_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.inspection import permutation_importance

In [2]:
data = pd.read_csv("worker_churn.csv")
data.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [3]:
print(data.columns)

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [4]:
data = pd.get_dummies(data)
data.head()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 57 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Age                                1470 non-null   int64
 1   DailyRate                          1470 non-null   int64
 2   DistanceFromHome                   1470 non-null   int64
 3   Education                          1470 non-null   int64
 4   EmployeeCount                      1470 non-null   int64
 5   EmployeeNumber                     1470 non-null   int64
 6   EnvironmentSatisfaction            1470 non-null   int64
 7   HourlyRate                         1470 non-null   int64
 8   JobInvolvement                     1470 non-null   int64
 9   JobLevel                           1470 non-null   int64
 10  JobSatisfaction                    1470 non-null   int64
 11  MonthlyIncome                      1470 non-null   int64
 12  MonthlyRate                        1470 non-null   int64
 13  NumCompaniesWorked                 1470 non-null   int64
 14  PercentSalaryHike                  1470 non-null   int64
 15  PerformanceRating                  1470 non-null   int64
 16  RelationshipSatisfaction           1470 non-null   int64
 17  StandardHours                      1470 non-null   int64
 18  StockOptionLevel                   1470 non-null   int64
 19  TotalWorkingYears                  1470 non-null   int64
 20  TrainingTimesLastYear              1470 non-null   int64
 21  WorkLifeBalance                    1470 non-null   int64
 22  YearsAtCompany                     1470 non-null   int64
 23  YearsInCurrentRole                 1470 non-null   int64
 24  YearsSinceLastPromotion            1470 non-null   int64
 25  YearsWithCurrManager               1470 non-null   int64
 26  Attrition_No                       1470 non-null   bool
 27  Attrition_Yes                      1470 non-null   bool
 28  BusinessTravel_Non-Travel          1470 non-null   bool
 29  BusinessTravel_Travel_Frequently   1470 non-null   bool
 30  BusinessTravel_Travel_Rarely       1470 non-null   bool
 31  Department_Human Resources         1470 non-null   bool
 32  Department_Research & Development  1470 non-null   bool
 33  Department_Sales                   1470 non-null   bool
 34  EducationField_Human Resources     1470 non-null   bool
 35  EducationField_Life Sciences       1470 non-null   bool
 36  EducationField_Marketing           1470 non-null   bool
 37  EducationField_Medical             1470 non-null   bool
 38  EducationField_Other               1470 non-null   bool
 39  EducationField_Technical Degree    1470 non-null   bool
 40  Gender_Female                      1470 non-null   bool
 41  Gender_Male                        1470 non-null   bool
 42  JobRole_Healthcare Representative  1470 non-null   bool
 43  JobRole_Human Resources            1470 non-null   bool
 44  JobRole_Laboratory Technician      1470 non-null   bool
 45  JobRole_Manager                    1470 non-null   bool
 46  JobRole_Manufacturing Director     1470 non-null   bool
 47  JobRole_Research Director          1470 non-null   bool
 48  JobRole_Research Scientist         1470 non-null   bool
 49  JobRole_Sales Executive            1470 non-null   bool
 50  JobRole_Sales Representative       1470 non-null   bool
 51  MaritalStatus_Divorced             1470 non-null   bool
 52  MaritalStatus_Married              1470 non-null   bool
 53  MaritalStatus_Single               1470 non-null   bool
 54  Over18_Y                           1470 non-null   bool
 55  OverTime_No                        1470 non-null   bool
 56  OverTime_Yes                       1470 non-null   bool
dtypes: bool(31), int64(26)
memory usage: 343.2 KB

In [8]:
data.drop(['EmployeeCount', 'Over18_Y', 'StandardHours', 'EmployeeNumber', 'Attrition_No', 'Attrition_Yes', 'Gender_Female', 'OverTime_No'], axis=1, inplace=True)
data.info()

KeyError: "['EmployeeCount', 'Over18_Y', 'StandardHours', 'EmployeeNumber', 'Attrition_No', 'Attrition_Yes', 'Gender_Female'] not found in axis"